.gallery-container
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 2vw
    padding: 0 2vw
    margin-top: 2rem

.gallery-items
    width: 35%
    box-shadow: 5px 5px 5px #0006
    flex-grow: 1
    transition: transform .5s linear
    border-radius: 10px
    

.gallery-items img 
    width: 100%
    height: 85%

.gallery-items:hover
    transform: scale(1.05)

img 
    border-radius: 20px

.modal-content 
  display: flex
//   align-items: center
  justify-content: space-between
  height: 100%

.modal-images 
  flex: 1
  text-align: center
  padding: 20px
  align-items: center

.modal-text 
  flex: 1
  padding: 20px
  color: white

.modal-text h3 
    margin-bottom: 20px

.modal-text p
    line-height: 25px


