.gallery-container
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  gap: 2vw
  padding: 0 2vw
  margin-top: 2rem

.gallery-items
  width: 35%
  box-shadow: 5px 5px 5px #0006
  flex-grow: 1
  transition: transform .5s linear
  border-radius: 10px

.gallery-items img
  width: 100%
  height: 85%

.gallery-items:hover
  transform: scale(1.05)

img
  border-radius: 20px

.modal-arrow
  position: absolute
  top: 50%
  transform: translateY(-50%)
  font-size: 36px
  background: none
  border: none
  cursor: pointer
  color: white
  outline: none

.modal
  max-width: 60%
  margin: auto
  margin-top: 4rem
  background-color: #1d1d1d
  border: none
  border-radius: 10px
  position: relative
  height: 83%
.modal-content
  display: flex
//   align-items: center
  justify-content: space-between
  height: 100%

.modal-images
  flex: 1
  text-align: center
  padding: 20px
  align-items: center

.modal-text
  flex: 1
  padding: 20px
  color: white

.modal-text h3
  margin-bottom: 20px

.modal-text p
  line-height: 25px

.btn-next
  margin-left: 12rem


  
  
  

/*Versão para mobile*/

@media (max-width: 768px)
  img
    width: 150px
    height: 150px
    align-items: center

  .modal
    max-width: 90%
    height: 27%
    margin: auto
    margin-top: 10rem

  .modal-content
    height: 70%

  .modal-images
    flex: 1
    text-align: center
    padding: 20px
    align-items: center

  .modal-text
    flex: 1
    padding: 15px
    color: white

  .modal-text h3
    margin-bottom: 0
    font-size: 10px

  .modal-text p
    line-height: 10px
    font-size: 7.5px

  .btn-next
    margin-top: 1rem
    margin-left: 1.1rem

    
  .btn-sm
    
    
    
    

    




/* Estilos específicos para o iPhone SE */
@media only screen and (max-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 2)
  .modal h3
    font-size: 8px

  .modal p
    font-size: 6px
    line-height: 9px

  .modal
    height: 30%

/* Estilos específicos para o Galaxy S8+ */
@media only screen and (max-device-width: 360px) and (max-device-height: 740px) and (-webkit-min-device-pixel-ratio: 2)
  .modal-text
    padding: 15px
  .modal
    height: 35%

  .modal h3
    font-size: 9px
