.gallery-container
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  gap: 2vw
  padding: 0 2vw
  margin-top: 2rem

.gallery-items
  width: 35%
  box-shadow: 5px 5px 5px #0006
  flex-grow: 1
  transition: transform .5s linear
  border-radius: 10px

.gallery-items img
  width: 100%
  height: 85%

.gallery-items:hover
  transform: scale(1.05)

img
  border-radius: 20px

.modal-arrow
  position: absolute
  top: 50%
  transform: translateY(-50%)
  font-size: 36px
  background: none
  border: none
  cursor: pointer
  color: white
  outline: none

.modal
  max-width: 60%
  margin: auto
  margin-top: 4rem
  background-color: #1d1d1d
  border: none
  border-radius: 10px
  position: relative
  height: 83%
.modal-content
  display: flex
//   align-items: center
  justify-content: space-between
  height: 100%

.modal-images
  flex: 1
  text-align: center
  padding: 20px
  align-items: center

.modal-text
  flex: 1
  padding: 20px
  color: white

.modal-text h3
  margin-bottom: 20px

.modal-text p
  line-height: 25px

.btn-next
  margin-left: 12rem

.btn-next button
  padding: 3px
  margin: 2px 2px 2px 2px
  background-color: #fff
  font-size: 20px
  color: #000533
  border-radius: 10px
  border: none
  cursor: pointer

.btn-next button:hover
  background-color: #000533
  color: #fff

/*Versão para mobile*/

@media screen and (min-width: 320px) and (max-width: 480px)
  img
    width: 150px
    height: 150px
    align-items: center

  .modal
    max-width: 90%
    height: 27%
    margin: auto
    margin-top: 10rem

  .modal-content
    height: 70%

  .modal-images
    flex: 1
    text-align: center
    padding: 20px
    align-items: center

  .modal-text
    flex: 1
    padding: 15px
    color: white

  .modal-text h3
    margin-bottom: 0
    font-size: 10px

  .modal-text p
    line-height: 10px
    font-size: 7.5px

  .btn-next
    margin-top: 1.5rem
    margin-left: 3rem

  .btn-next button
    padding: 2px
    margin: 2px 2px 2px 2px
    background-color: #fff
    font-size: 10px
    color: #000533
    border-radius: 5px
    border: none
    cursor: pointer

/* Estilos específicos para o iPhone SE */
@media only screen and (max-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 2)
  .modal h3
    font-size: 8px

  .modal p
    font-size: 6px
    line-height: 9px

  .modal
    height: 30%

  .btn-next
    margin-top: 2rem
    margin-left: 3rem

/* Estilos específicos para o iPhone X */
@media only screen and (max-device-width: 375px) and (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2)
  .modal h3
    font-size: 8px

  .modal p
    font-size: 6px
    line-height: 9px
    width: 100%

  .modal
    height: 27%

/* Estilos específicos para o Galaxy S8+ */
@media only screen and (max-device-width: 360px) and (max-device-height: 740px) and (-webkit-min-device-pixel-ratio: 2)
  .modal-text
    padding: 15px
  .modal
    height: 30%

  .modal h3
    font-size: 9px

/*Versão para mobile*/

/*Versão para laptops*/

@media screen and (min-width: 769px) and (max-width: 899px)
  img
    width: 250px
    height: 250px
    align-items: center

  .modal
    max-width: 70%
    height: 47%
    margin: auto
    margin-top: 10rem

  .modal-content
    height: 83%

  .modal-images
    flex: 1
    text-align: center
    padding: 20px
    align-items: center

  .modal-text
    flex: 1
    padding: 15px
    color: white

  .modal-text h3
    margin-bottom: 0
    font-size: 12px

  .modal-text p
    line-height: 12px
    font-size: 10px
    width: 100%
  .btn-next
    margin-top: 1rem
    margin-left: 5rem

@media screen and (min-width: 900px) and (max-width: 1024px)
  img
    width: 250px
    height: 250px
    align-items: center

  .modal
    max-width: 60%
    height: 48%
    margin: auto
    margin-top: 10rem

  .modal-content
    height: 83%

  .modal-images
    flex: 1
    text-align: center
    padding: 20px
    align-items: center

  .modal-text
    flex: 1
    padding: 15px
    color: white

  .modal-text h3
    margin-bottom: 0
    font-size: 12px

  .modal-text p
    line-height: 14px
    font-size: 10px
    width: 100%
  .btn-next
    margin-top: 1rem
    margin-left: 5rem

/*Versão para laptops*/

/*Versão para desktops*/

@media screen and (min-width: 1025px) and (max-width: 1200px)
  img
    width: 300px
    height: 300px
    align-items: center

  .modal
    max-width: 60%
    height: 57%
    margin: auto
    margin-top: 10rem

  .modal-content
    height: 83%
    width: 95%

  .modal-images
    flex: 1
    text-align: center
    padding: 20px
    align-items: center

  .modal-text
    flex: 1
    padding: 15px
    color: white

  .modal-text h3
    margin-bottom: 0
    font-size: 15px

  .modal-text p
    line-height: 15px
    font-size: 12px
    width: 100%
  .btn-next
    margin-top: 1rem
    margin-left: 6rem

/*Telas maiores que 1200px*/

@media screen and (min-width: 1200px) and (max-width: 1400px)
  img
    width: 300px
    height: 300px
    align-items: center

  .modal
    max-width: 50%
    height: 57%
    margin: auto
    margin-top: 10rem

  .modal-content
    height: 83%
    width: 95%

  .modal-images
    flex: 1
    text-align: center
    padding: 20px
    align-items: center

  .modal-text
    flex: 1
    padding: 15px
    color: white

  .modal-text h3
    margin-bottom: 0
    font-size: 15px

  .modal-text p
    line-height: 18px
    font-size: 12px
    width: 100%
  .btn-next
    margin-top: 1rem
    margin-left: 6rem

@media screen and (min-width: 1600px) and (max-width: 1900px)
  img
    width: 300px
    height: 300px
    align-items: center

  .modal
    max-width: 60%
    height: 30%
    margin: auto
    margin-top: 10rem

  .modal-content
    height: 83%
    width: 95%

  .modal-images
    flex: 1
    text-align: center
    padding: 20px
    align-items: center

  .modal-text
    flex: 1
    padding: 15px
    color: white

  .modal-text h3
    margin-bottom: 0
    font-size: 15px

  .modal-text p
    line-height: 18px
    font-size: 12px
    width: 100%
  .btn-next
    margin-top: 1rem
    margin-left: 12.5rem
