<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/portfolio-cesar//src/styles/components/style.css">
    <title>Meus Projetos</title>
</head>
<body>
    <header>
        <h1>Projetos</h1>
    </header>
    <main>
        <div class="gallery-container">
            <a href="#" class="gallery-items">
                <p></p>
                <img src="../img/LTIP.png" alt="LTIP - Inspeção Predial">
            </a>
            <a href="#" class="gallery-items">
                <img src="../img/ProjetoElétrico.png" alt="Projeto Elétrico">
            </a>
            <a href="#" class="gallery-items">
                <img src="../img/ProjetoEstrutural.png" alt="Projeto Estrutural">
            </a>
            <a href="#" class="gallery-items">
                <img src="../img/CoberturaEmTreliça.png" alt="Cobertura em Treliça">
            </a>
        </div>     
    </main>
    <footer>
        <span>Copyright &copy; | Césaro Trujillo Corrêa</span>
    </footer>
</body>
</html>